client-service/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.5 git-revision#c828e2e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.5 git-revision#c828e2e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueAccountServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8081/?xsd=1"/>
</xsd:schema>
</types>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<message name="getListAccounts">
<part name="parameters" element="tns:getListAccounts"/>
</message>
<message name="getListAccountsResponse">
<part name="parameters" element="tns:getListAccountsResponse"/>
</message>
<message name="ConversionEuroToDh">
<part name="parameters" element="tns:ConversionEuroToDh"/>
</message>
<message name="ConversionEuroToDhResponse">
<part name="parameters" element="tns:ConversionEuroToDhResponse"/>
</message>
<portType name="BankWS">
<operation name="getAccount">
<input wsam:Action="http://ws/BankWS/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://ws/BankWS/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
<operation name="getListAccounts">
<input wsam:Action="http://ws/BankWS/getListAccountsRequest" message="tns:getListAccounts"/>
<output wsam:Action="http://ws/BankWS/getListAccountsResponse" message="tns:getListAccountsResponse"/>
</operation>
<operation name="ConversionEuroToDh">
<input wsam:Action="http://ws/BankWS/ConversionEuroToDhRequest" message="tns:ConversionEuroToDh"/>
<output wsam:Action="http://ws/BankWS/ConversionEuroToDhResponse" message="tns:ConversionEuroToDhResponse"/>
</operation>
</portType>
<binding name="BankWSPortBinding" type="tns:BankWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConversionEuroToDh">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueAccountServiceService">
<port name="BankWSPort" binding="tns:BankWSPortBinding">
<soap:address location="http://localhost:8081/"/>
</port>
</service>
</definitions>